<div class="main">
  <h2>CTA - Ridership - Avg. Weekday Bus Stop Boardings in October 2012</h2>

  <section>
    <h2>Some quick highlights<h2>
    <ul>
      <li>Bus #<%=@longest[0] %> had the most stops with <%=@longest[1] %> stops.</li>
     </ul> 
  </section>
  <section>
    <div id= "map"> </div>
  </section>
</div>  