<div class="main">
  <h2>CTA - Ridership - Avg. Weekday Bus Stop Boardings in October 2012</h2>

  <section>
    <h2>Some quick highlights<h2>
    <ul>
      <li>Bus #<%=@longest[0] %> had the most stops with <%=@longest[1] %> stops.</li>
     </ul> 
  </section>
  <section class="display">
    <button type="button" id="show_bus_stops">See the Bus Stops</button>
    <button type="button" id="show_boarding_data">Show the average boarding numbers</button>
    <button type="button" id="show_bar_graph_stops">See the bar graph of stops</button>
    <div id= "map"> </div>
  </section>
</div>  