<div class="main">
  <h2>CTA Bus Ridership Average Weekday Bus Stop Boardings in October 2012</h2>

  <section>
    <h2><h2>
  </section>
  <section class="display">
    <button type="button" id="show_bus_stops">Map Bus Stops</button>
    <button type="button" id="map_boarding_data">Map the Average Boarding Numbers</button>
    <button type="button" id="graph_bus_boarding_average">Graph of Average Boarding Numbers</button>
    <button type="button" id="graph_stops_by_buses">Graph of Stops by Number of Buses</button>
    <div id= "map"> </div>
  </section>
</div>  