#spin {
    background: #333;
    color: white;
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 20px 20px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}